@page
@using Packt.Shared
@inject NorthwindContext db //instead of using a model in a cshtml.cs page, we inject the db here.
@{
	string title = "Orders";
	ViewData["Title"] = $"Northwind B2B - {title}";
}
<div class="row">
	<h1 class="display-2">@title</h1>
	<p>
		There are @db.Orders.Count() orders in the Northwind database.
	</p>
</div>